* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

.App {
  text-align: center;
}

header {
  background-color: #023d6d;
  color: #fff;
  font-size: 1.5rem;
  padding: 2rem;
}

main {
  margin: 1rem;
  font-size: 1.5rem;
}

main h1 {
  margin-bottom: 1rem;
}

button {
  background-color: #023d6d;
  color: #fff;
  font-size: 1.5rem;
  margin-inline: 0.5em;
  padding: 0.5em;
  border-radius: 15px;
}